*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  background:#bfbdbd;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

body{

  overflow: hidden;
}

.header{
  display:flex;
  justify-content: center;
  align-items: center;
  background:rgb(193, 77, 236);
  height:8vh;

}

.header h3{
  color:rgb(213, 210, 11);
  background:inherit;
  font-size:2.7rem;
  text-shadow:4px 4px 2px 9px rgba(0,0,0,0.7);
  text-shadow:4px 4px 8px 9px rgba(0,0,0,1);
  cursor:pointer;
  
}

#er{
  background:inherit;
  color:rgb(31, 229, 104)
}

.cont{
  width:80%;
  height:100vh;
  margin:0 auto;
  /* border:1px solid white; */
}

.chart-container{
  width:1100px;
  height:650px;
  /* padding:0 2rem; */
  position:relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-58%);
  /* border:1px solid black; */
}

.pie-container{
  width:640px;
  height:570px;
  /* padding: 0 2rem; */
  position:relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-63%);
  /* border:1px solid black; */
}

img{
  width:100%;
  height: 100%;
  z-index:1;
  object-fit: cover;
}


.main{
  padding-top: 2rem;

}

h1{
  font-size:2.5rem;
}

.type h4{
  z-index:100;
  text-align: center;
  position:absolute;
  background: none;
  font-size:3.7rem;
  color:rgb(10, 44, 86);
  text-shadow:2px 2px 2px rgba(255,255,255,0.8);
  text-shadow:3px 1px 3px rgba(255,255,255,0.4);
  text-shadow:1px 4px 2px rgba(255,255,255,0.3)
}

.body{
  margin-top:3rem;
  padding-bottom: 1rem;;
  display:grid;
  grid-template-columns: repeat(2,1fr);
}

.type{
  margin:0.4rem;
  border:1px solid rgb(0, 0, 0);
  height:250px;
  /* width:auto; */
  font-size:1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}

.inp-cont{
  margin:2rem 0;
}

.form{
  margin-top:2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-group, .inner{
  display: flex;
  margin:1rem; 
  justify-content: center;
  align-items: center;
}

.f-group h5, .inner h5{
  padding:0 1rem;
}

input{
  outline:none;
  padding:0.5rem 1rem;
}

i{
  cursor:pointer;
  font-size:1.5rem;
  color:red;
}

button{
  padding:0.6rem 2rem;
  font-size:1.4rem;
  background:#3b3bc5;
  color:white;
  cursor:pointer;
  width:60%;
}